#angry {

  color: rgb(250, 49, 49);
}
body {

  background-image: url(../images/white-waves.png);
  
}

#btn {

  background: none;
  border: none;
  cursor:pointer;
  padding-bottom:25px;
  padding-left:160px;
  
}

#btn:hover {

  background-color: none;
}

#btnsubmit {

  color: black;
  margin:10px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#container {

  margin-top:20px;
  outline: rgb(253, 181, 47);
  
}

.diarybody {

  background: url(../images/diary.jpg) no-repeat fixed center center / cover rgba(0, 0, 0, 0);;
 
}

.fa-github:before {

  padding-bottom: 10px;
  padding-left:750px;
  
}

#feeling {

  background-color: rgb(85, 33, 85);
  border-radius: 50%;
  font-size: 80px;
  height:130px;
  margin:20px;
  margin-left:40px;
  width:130px;
}

#footer {

  padding-left:20px;
}

.form-group {

  font-size: 24px;
  padding-left:45px;
  padding-top:50px;
}

#h1 {

  font-family: 'Calligraffitti', cursive;
  padding-bottom:25px;
  padding-top:35px;
  text-align: center;

}


#h1Text {

  color:rgb(252, 189, 72);
  font-family: 'Dancing Script', cursive;
  text-align: center;
}
/* #heading {

  font-family: 'Oswald', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Poor Story', cursive;
  font-family: 'Aleo', serif;
  padding-bottom:20px;
  padding-top:40px;
  text-align: center;
} */

#headingText {

  font-family: 'Noto Serif SC', serif;
  text-align: center;
}

/* .jumbotron {

  margin: auto;
  margin-bottom: 20px;
  width:80%;
} */
#laugh {

  color:rgb(223, 223, 3);
}
#links {

  text-align: center;
}

#para1 {

  text-align: center;
}

#row {

  color:rgb(252, 189, 72);
  text-align: center;
}

#sad {

  color:black;
}

#smile {

  color:pink;
}

#survey {

  color:black;
  font-family: 'Noto Serif SC', serif;
  margin-bottom:80px;
  margin-top:25px;
  text-align: center;
  text-shadow: 1px 1px rgb(245, 168, 24);
}

#wink {

  color:rgb(19, 219, 19);
}
